/* Global styles */

body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    margin: 0;
    padding: 0;
}
tab {
    tab-size: 2; 
}
a {
    color: #111;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #f8fc18;
    padding: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}
/* Navbar styles */
.navbar {
    width: 100%;
    background-color: #ffef15;
    color: #fff;
    padding: 15px;
    position: fixed; /* Makes it fixed to the top */
    top: 0; /* Aligns it to the top */
    left: 0;
    z-index: 1000; /* Ensures it stays above other content */
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin: 0 10 px;
}

nav a {
    font-weight: bold;
}

main {
    padding: 50px 20px;
    max-width: 960px;
    margin: 0 auto;
}

section {
    margin-bottom: 50px;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

form textarea {
    height: 150px;
}

form button[type="submit"] {
    background-color: #333;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #444;
}

footer {
    background-color: #ffbb00;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
}

/* Media queries */

@media screen and (max-width: 767px) {
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin: 30px 0;
    }
}

.rounded {
    border-radius: 3%;
}
.centered {
    display: block;
    margin: 0 auto;
}
